<!-- apps/accounts/templates/accounts/customer.html -->
{% extends './base.html' %}

{% block title %}Customer{% endblock title %}


{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Customer:</h5>
                    <hr>
                    <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
                    <a class="btn btn-outline-info  btn-sm btn-block" href="/create_order/2/">Place Order</a>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-body">
                    <h5>Contact Information</h5>
                    <hr>
                    <p>Email: {{customer.email}}</p>
                    <p>Phone: {{customer.phone}}</p>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-body">
                    <h5>Total Orders</h5>
                    <hr>
                    <h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
                        <tr>
                            <th><label for="id_product">Product:</label></th>
                            <td>
                                <select name="product" id="id_product">
                                    <option value="" selected>---------</option>
                                    <option value="2">BBQ Grill</option>
                                    <option value="3">Dishes</option>
                                    <option value="4">Ball</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="id_status">Status:</label></th>
                            <td>
                                <select name="status" id="id_status">
                                    <option value="" selected>---------</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Out for delivery">Out for delivery</option>
                                    <option value="Delivered">Delivered</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="id_start_date">Start Date:</label></th>
                            <td><input type="text" name="start_date" id="id_start_date"></td>
                        </tr>
                        <tr>
                            <th><label for="id_end_date">End Date:</label></th>
                            <td><input type="text" name="end_date" id="id_end_date"></td>
                        </tr>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Date Orderd</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.product}}</td>
                            <td>{{order.product.category}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'accounts:order_update' %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="/delete_order/15/">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
