<!-- apps/accounts/templates/accounts/dashboard.html -->
{% extends './base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <style>
            .message-alert{
            border:1px solid #5e7356;
            background-color: #ddf0d5;
            color:#5e7356;
            padding:10px;
            border-radius: 3px;
            width: 90%;
            margin:0 auto;
            margin-top: 20px;
            text-align: center;
            }
        </style>
        <!--
            <div class="message-alert">
            	<p>NOTE: To view source code & tutorial videos visit "Source Code/Tutorials" in the navigation bar above.</p>
            </div>
            -->
        <br>
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="total-orders">
                        <div class="card-header" style="background-color: #2498AA;">
                            <h5 class="card-title">Total Orders</h5>
                        </div>
                        <div class="card-body"  style="background-color: #7ED3E0;">
                            <h3 class="card-title">{{total_orders}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="orders-delivered">
                        <div class="card-header" style="background-color: #007BFF;">
                            <h5 class="card-title">Orders Delivered</h5>
                        </div>
                        <div class="card-body" style="background-color: #5DA7F7;">
                            <h3 class="card-title">{{delivered}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white  mb-3" id="orders-pending">
                        <div class="card-header" style="background-color: #E8B94B;">
                            <h5 class="card-title">Orders Pending</h5>
                        </div>
                        <div class="card-body" style="background-color: #D6C18B;">
                            <h3 class="card-title">{{pending}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- ---------------- Customer ----------------- -->
            <div class="col-md-5">
                <h5>CUSTOMERS:</h5>
                <hr>
                <a href="">
                    <button type="button" class="btn btn-success">Create Customer</button>
                </a><br><br>

                <div class="card card-body">

                    <a class="prevent-submit btn btn-primary btn-sm-block" href="">Customer List</a>
                    <table class="table table-sm">
                        <tr>
                            <th></th>
                            <th>Customer</th>
                            <th>Phone</th>
                        </tr>
                        {% for customer in customers %}
                        <tr>
                            <td><a class="btn btn-sm btn-info" href="{% url 'accounts:customer' customer.id %}">View</a></td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- ---------------- END Customer ------------- -->

            <!-- ---------------- Order -------------------- -->
            <div class="col-md-7">
                <h5>LAST 5 ORDERS</h5>
                <hr>
                <a href="{% url 'accounts:createOrder' %}">
                    <button type="button" class="btn btn-success">Create Order</button>
                </a><br><br>
                <div class="card card-body">

                    <a class="btn btn-primary btn-sm-block" href="#">Order List</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Customer</th>
                            <th>Product</th>
                            <th>Date Orderd</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.customer}}</td>
                            <td>{{order.product}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'accounts:updateOrder' order.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'accounts:deleteOrder' order.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- ---------------- END Order ---------------- -->
        </div>
    </div>
{% endblock content %}