<!-- apps/accounts/templates/accounts/delete.html -->
{% extends './base.html' %}

{% block title %}Delete{% endblock title %}

{% block content %}

<br><br>

<div class="row">
	<div class="col-md-6" style="margin: 0 auto;">
		<div class="card card-body">
			<!-- Question -->
			<p>Are you sure you want to delete "{{item}}"?</p>

			<!-- Form -->
			<form action="{% url 'accounts:deleteOrder' item.id %}" method="POST">
				{% csrf_token %}

				<a class="btn btn-warning" href="{% url 'accounts:home' %}">Cancel</a>
				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
			
		</div>
	</div>
</div>


{% endblock content %}